            * {
                padding: 0%;
                margin: 0%;
            }
            
            body {
                background: rgb(207, 207, 199);
            }
            
            #header {
                align-items: center;
                padding: 60px 100px;
                display: flex;
                justify-content: space-between;
            }
            
            #logo {
                font-size: 1em;
            }
            
            #navbar ul {
                display: flex;
            }
            
            #navbar ul li {
                margin: 0px 2px;
                padding: 5px 0px;
                list-style: none;
                transition: 0.5s;
            }
            
            #navbar ul li a {
                color: #000;
                font-family: Arial;
                font-weight: bolder;
                font-size: 15px;
                padding: 0px 15px;
                text-decoration: none;
            }
            
            #navbar ul li:hover {
                background-color: #000;
            }
            
            #navbar ul li.active>a {
                color: gray;
            }
            
            #navbar ul li:hover,
            #navbar ul li.active {
                background-color: #000;
                color: rgb(136, 136, 136);
            }
            
            #navbar li:hover>a {
                color: gray;
            }
            
            #navbar li:hover {
                background-color: #000;
            }
            
            #home {
                width: 100%;
                height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .frist {
                padding-top: 20px;
                font-family: arial;
                font-size: 1.4em;
            }
            
            .second {
                font-family: arial;
                font-size: 1.4em;
                padding-top: 40px;
            }
            
            .last {
                padding-top: 40px;
                font-family: arial;
                font-size: 1.4em;
            }
            
            #home p {
                width: 600px;
                text-align: center;
            }
            
            #btn {
                background-color: #000;
                padding: 12px 100px;
                margin-top: 40px;
                font-family: arial;
                font-weight: bolder;
                font-size: 1.2em;
                text-decoration: none;
                color: rgb(146, 146, 146);
                transition: 0.5s;
                letter-spacing: 1px;
            }
            
            #btn:hover {
                letter-spacing: 10px;
            }
            
            .img {
                width: 200px;
            }
            
            @media(min-width:1100px) {
                #header-mb {
                    display: none;
                }
            }
            
            @media (max-width: 1100px) {
                #header {
                    display: none;
                    width: 100%;
                }
                .img {
                    width: 150px;
                }
                #home {
                    width: 100%;
                }
                #home p {
                    width: 100%;
                    padding: 10px 90px;
                }
                #btn {
                    padding: 7px 50px;
                    margin-top: 30px;
                    font-size: 1.1em;
                }
                /* mb menu  */
                .top {
                    padding: 20px 40px 0px 40px;
                    display: flex;
                    justify-content: space-between;
                }
                #logo-mb {
                    font-size: 1em;
                }
                #show {
                    cursor: pointer;
                    font-weight: bolder;
                    font-size: 1.2em;
                }
                #hide {
                    display: none;
                    cursor: pointer;
                    font-weight: bolder;
                    font-size: 2em;
                }
                #nav-mb {
                    display: none;
                }
                #nav-mb {
                    padding: 30px;
                }
                #nav-mb li {
                    list-style: none;
                    padding: 15px 0px 15px 0px;
                    border-bottom: 1px solid rgb(190, 190, 190);
                }
                #nav-mb li a {
                    font-size: 1.2em;
                    font-weight: bolder;
                    color: #000;
                    letter-spacing: 1px;
                    text-decoration: none;
                    transition: 1s;
                }
                #nav-mb li a:hover {
                    background: #2c2929;
                    padding: 10px 20px;
                    border-radius: 10px;
                    color: #fff;
                }
            }
            
            @media(max-width:600px) and (min-width:200px) {
                #logo-mb h1 {
                    font-size: 1.3em;
                }
                .top {
                    padding: 5px 10px;
                }
                #home p {
                    font-size: 1em;
                }
                #btn {
                    font-size: 1em;
                    padding: 10px 30px;
                }
            }
            
            footer {
                background: #111;
                color: gray;
                text-align: center;
                padding: 5px;
            }